<h2 style="text-align: center; padding: 10px;"><b>Admin Panel</b></h2>

<div class="dashboard-page">
    <div class="dashboard-info-page">


<h3>Teachers: <b><%= @teacher_number%></b></h3>
<hr>


<h3>Students: <b><%= @student_number%></b></h3>
<hr>

<h3>Facilities: <b><%= @facility_number%></b></h3>
<hr>

<h3>Courses: <b><%= @course_number%></b></h3>
</div>
</div>