<%= link_to "New facility", new_facility_path %>
<hr style="color: white">
<% @facilities.each do |facility| %>

    <div>
    <h2> <%= link_to facility.name, facility_path(facility) %> </h2> 

    </div>
    <hr>

<% end %>