<div class="container" style="padding-top:15px">
<% if current_user && current_user.is_admin %>
    <%= link_to "New facility", new_facility_path %>
<% end %>

<% @facilities.each do |facility| %>


    <div style="padding:15px">
    <h2> <%= link_to facility.name, facility_path(facility) %> </h2> 
    </div>
    <hr>

<% end %>
</div>