<h1> My Courses </h1>

      <% @courses.each do |course| %>

            <div>
            <h2><%= link_to course.name, course_path(course) %></h2>
            </div>

            <% if can? :crud @course%>

            <%= link_to "Edit" , edit_course_path(@course), class: "btn btn-outline-primary" %>
            <%= link_to "Delete" , course_path(@course.id), class: "btn btn-outline-primary" , method:
            :delete, data: {confirm: "Are you sure you want to delete the course?" }%>

            <% end %>
      
      <% end %>

<% end %>
