<% if current_user.is_teacher %>
    <%= link_to "New course", new_course_path %>
<% end %>
<hr style="color: white">
<% @courses.each do |course| %>

    <div>
        <h2> <%= link_to course.title, course_path(course) %> </h2> 
    </div>
    <hr>

<% end %>
