body {
    font-family: 'Open Sans', sans-serif !important;
  }

.navbar-custom {
    background-color: #899eff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #c2c2c2;
}



// Steven's css edits, Feel free to tweak if you want of course
.signup-div {
    text-align: center;
    padding: 10px;
    border: 5px solid grey;
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

.teacher-signin {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.student-signin {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.teacher-student-signin {
    display: flex;
    justify-content: center;
}

.radio-btn-signup {
    padding: 10px;
}

.facilities-new-div {
    display: flex;
    justify-content: center;
}

.facilities-new-text-fields {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.courses-new-text-fields {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.courses-new-div {
    display: flex;
    justify-content: center;
}

.new-course-btn {
    margin: 10px;
}

.courses-show-div {
    display: flex;
    justify-content: center;
}

.courses-show-info {
    padding: 10px;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.courses-edit-page {
    display: flex;
    justify-content: center;
}

.courses-edit-info-page {
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    border: 5px solid grey;
}

.facilities-show-page {
    display: flex;
    justify-content: center;
}

.facilities-show-info-page {
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    border: 5px solid grey;
}

.dashboard-page {
    display: flex;
    justify-content: center;
}

.dashboard-info-page {
    padding: 10px;
    margin: 10px;
    width: 40%;
    border-radius: 5px;
    border: 5px solid grey;
}